<%= form_for @dream, data: {form: "dream"} do |f|%>
  <p class="dream-input">
    <span><%= f.label :title %></span>
    <span><%= f.text_field :title %></span>
  </p>

  <p class="dream-input">
    <span><%= f.label :story %></span>
    <span><%= f.text_area :story %></span>
  </p>

    <%= f.label('Able to make decisions?') %>
    <%= f.check_box(:decision_clarity?) %>
    <%= f.label('Aware you were dreaming?') %>
    <%= f.check_box(:consciousness_clarity?) %>
    <%= f.label('Were your experiences vivid?') %>
    <%= f.check_box(:dream_state_clarity?) %>
  <p>
    <%= f.submit %>
  </p>
<% end %>