<div data-handler="errors"></div>
<%= form_for @dream, data: {form: "dream"} do |f| %>
  <p class="dream-input">
    <%= f.text_field :title, placeholder: "title" %>
  </p>

  <p class="dream-input">
    <%= f.text_area :story, placeholder: "tell us about your dream" %>
  </p>
  <p class="hashtag-input dream-input">
  <%= f.text_area :hashtag_string, placeholder: "hashtags" %>
</p>

  <%= f.check_box(:decision_clarity) %>
  <%= f.label('Were you able to make decisions?') %><br>

  <%= f.check_box(:consciousness_clarity) %>
  <%= f.label('Were you aware that you were dreaming?') %><br>

  <%= f.check_box(:dream_state_clarity) %>
  <%= f.label('Were your experiences vivid?') %>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>