<p>
  <div class="dream-info">
    <%= link_to "#{dream.dreamer.username}", profile_path(dream.dreamer)%>

    <div class="right">
      posted <%= dream.timestamp %> ago
    </div>
      <div class="favorites" data-div="favorite">
        <div data-favorite="new">
      <%= render partial: "favorites/favorite", locals: {dream: dream} %>
    </div>
    <div data-favorite="destroy">
    <%= render partial: "favorites/unfavorite", locals: {dream: dream} %>
  </div>
  </div>
  </div>
</p>

<%= dream.story %><br>
<sub class="right"><%= link_to "read more >>", dream_path(dream) %></sub>
<hr>
