<h1>
  <%= @dream.title %>
</h1>

<h3>
  <% unless @dream.dreamer == current_dreamer %>
    <div class="favorites" data-div="favorite">
      <div data-favorite="new" data-div="<%= "hidden" if @dream.favorite?(current_dreamer) %>">
        <%= render partial: "favorites/favorite", locals: {dream: @dream} %>
        <span data-span="favorites-count"><%= @dream.favorites.count %></span>
      </div>
      <div data-favorite="destroy" data-div="<%= "hidden" unless @dream.favorite?(current_dreamer)%>" >
        <%= render partial: "favorites/un_favorite", locals: {dream: @dream} %>
        <span data-span="unfavorites-count"><%= @dream.favorites.count %></span>
      </div>
    </div>
  <% end %>
</h3>
posted on <%= display_date(@dream.created_at) %><br>

<p>
  <%= gravatar_tag @dream.dreamer.email, default: "http://img1.wikia.nocookie.net/__cb20111127192946/frontierville/images/f/f0/Shaman_Dream_Catcher-icon.png", :html => {:class => "avatar-icon"} %>
  <%= link_to @dream.dreamer.username, profile_path(@dream.dreamer) %><br>

  <% if @dream.dreamer == current_dreamer %>
    <%= link_to image_tag("edit-icon.png", class: "icon"), edit_dream_path(@dream), data: { link: "edit-dream" } %>
    <%= link_to image_tag("delete-icon.png", class: "icon"), dream_path(@dream), method: "delete" %>
  <% end %>
</p>

<p>
  <% unless @dream.hashtags.empty? %>
    <% @dream.hashtags.each do |hashtag| %>
      <span data-span="hashtag">
        <a href="<%= hashtag_dreams_path(hashtag) %>" class="hashtag">
          <%= hashtag.name %>
          <% if @dream.dreamer == current_dreamer %>
            <img data-link="hashtag-delete" data-href="<%= hashtag_path(dream_id: @dream, id: hashtag) %>" data-method="delete" class="icon" src='<%= image_path('delete-icon.png') %>'/>
          <% end %>
        </a>
      </span>
    <% end %>
  <% end %>
</p>

<hr>
<p>
  <%= @dream.story %>
</p>