<%= form_for :dream, url: dream_path(@dream), method: :patch do |f| %>
  <p class="dream-input">
    <span><%= f.label :title %></span>
    <span><%= f.text_field :title %></span>
  </p>

  <p class="dream-input">
    <span><%= f.label :story %></span>
    <span><%= f.text_area :story %></span>
  </p>

  <p>
    <%= f.submit %>
  </p>

<%= link_to 'Delete', dream_path(@dream), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
