<h1><%= @dream.title %></h1>

<div data-form="edit">
 <%= render "edit" %>
</div>

<p>
  <% if @dream.dreamer == current_dreamer %>
    <%= link_to "Edit", edit_dream_path(@dream), data: { link: "edit-dream" } %><br>
    <%= link_to "Delete", dream_path(@dream), method: "delete" %>
  <% end %>
</p>

posted on <%= @dream.created_at.strftime("%B %d %Y") %><br>
<%= image_tag(@dream.dreamer.avatar_url, class: "icon") %> <%= link_to @dream.dreamer.username, profile_path(@dream.dreamer) %>
<hr>
<p><%= @dream.story %></p>

<h3><%= @dream.comments.count %> Comments</h3>

<% if @dream.comments.empty? %>
  <p>This dream currently has no comments.<br>
    Be the first to leave a comment.</p>
<% end %>

<ul>
  <div class="comment">
    <% @dream.comments.each do |comment| %>
        <li>
          <div class="left">
            <%= image_tag(comment.dreamer.avatar_url, class: "icon") %> <%= link_to comment.dreamer.username, profile_path(comment.dreamer) %>
          </div>
          <div class="right">
            <p><%= comment.created_at.strftime("%B %d %Y") %></p>
            <p><%= link_to "Edit", edit_comment_path(comment) %></p>
          </div>
          <p><%= comment.content %></p>
        </li>
    <% end %>
  </div>
<ul>

<hr>
<%= render "comments/new" %>
