<h1><%= @dream.title %></h1>

<div data-form="edit">
 <%= render "edit" %>
</div>

<p>
  <% if @dream.dreamer == current_dreamer %>
    <%= link_to "Edit", edit_dream_path(@dream), data: { link: "edit-dream" } %><br>
    <%= link_to "Delete", dream_path(@dream), method: "delete" %>
  <% end %>
</p>

posted on <%= display_date(@dream.created_at) %><br>
<%= gravatar_tag @dream.dreamer.email, class: "avatar left", default: "http://img1.wikia.nocookie.net/__cb20111127192946/frontierville/images/f/f0/Shaman_Dream_Catcher-icon.png" %> <%= link_to @dream.dreamer.username, profile_path(@dream.dreamer) %>
<hr>
<p>
  <%= @dream.story %>
</p>
<p>
  Tags:
  <% @dream.hashtags.each do |hashtag| %>
    <%= search_form_for @q, url: hashtag_search_path, method: "get" do |f| %>
      <%= f.search_field :name_eq, value: hashtag.name %>
    <% end %>
    <%= link_to "Delete", hashtag_path(dream_id: @dream, id: hashtag), method: "delete" %>
  <% end %>
</p>

<h3><%= @dream.comments.count %> Comments</h3>

<% if @dream.comments.empty? %>
  <p>This dream currently has no comments.<br>
    Be the first to leave a comment.</p>
<% end %>

<ul>
  <div class="comment">
    <% @dream.comments.each do |comment| %>
        <li>
          <div class="left">
            <%= gravatar_tag comment.dreamer.email, class: "icon", default: "http://img1.wikia.nocookie.net/__cb20111127192946/frontierville/images/f/f0/Shaman_Dream_Catcher-icon.png" %> <%= link_to comment.dreamer.username, profile_path(comment.dreamer) %>
          </div>
          <div class="right">
            <p><%= display_date(comment.created_at) %></p>
            <p><%= link_to "Edit", edit_comment_path(comment) %></p>
          </div>
          <p><%= comment.content %></p>
        </li>
    <% end %>
  </div>
</ul>
<hr>
<%= render "comments/new" %>
