<%= form_for :session, url: sessions_path  do |f| %>
  <span><%= f.label :username %></span>
  <span><%= f.text_field :username %></span>
  <span><%= f.label :password %></span>
  <span><%= f.password_field :password %></span>
  <span><%= f.submit 'Log In' %></span>
<%end%>