<li id="conversation-index" class="list-group-item clearfix" data-li="conversation">
  <div class="btn-group-vertical pull-right">
    <% if conversation.is_trashed?(current_dreamer) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info sub-button', method: :post %>
    <% else %>
<a><img data-link="delete-conversation" data-href="<%= conversation_path(conversation) %>" data-method="delete"  class="btn btn-xs btn-danger sub-button icon" src='<%= image_path('trash-bin.png') %>'/></a>
      <% if conversation.is_unread?(current_dreamer) %>
        <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation),
                  class: 'btn btn-xs btn-info sub-button', method: :post %>
      <% end %>
    <% end %>
  </div>
  <strong>Subject:</strong> <%= link_to conversation.subject, conversation_path(conversation) %><br>
  <strong>Date:</strong> <span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span><br>
  <strong>Sender:</strong>
  <% conversation.participants.each do |sender| %>
    <% unless sender == current_dreamer %>
      <%= link_to sender.username, profile_path(sender) %>
    <% end %>
  <% end %>
</li>