<div class="row">
  <div class="col-sm-3">

    <dl class="sub-nav nav nav-pills nav-stacked">
      <dd><%= mailbox_section 'inbox', @box %></dd>
      <dd><%= mailbox_section 'sent', @box %></dd>
      <dd><%= mailbox_section 'trash', @box %></dd>
    </dl>
  </div>

  <p><%= link_to 'Send New', new_message_path, class: 'btn btn-lg btn-primary button' %>
    <% if @box == 'trash' %>
      <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger sub-button', method: :delete,
                   data: {confirm: 'Are you sure?'} %></p>
    <% end %>
    <hr>
    <ul class="inbox list-group">
      <%= render partial: 'conversations/conversation', collection: @conversations %>
      <% if @conversations.empty? %>
        <p>This inbox is empty.</p>
      <% end %>
    </ul>

    <%= will_paginate %>
  </div>
</div>