<div class="panel-heading"><h3><%= @conversation.subject %></h3></div>

<p>Chatting with <%= render 'conversations/participants', conversation: @conversation %></p>

<div class="messages">
  <ul>
    <% @conversation.receipts_for(current_dreamer).each do |receipt| %>
      <li>
        <% message = receipt.message %>
        <strong>
          <%= link_to message.sender.username, profile_path(message.sender) %>
          on <%= message.created_at.strftime("%B %d %Y, %H:%M:%S") %>:
        </strong>
        <%= message.body %>
      </li>
    <% end %>
  </ul>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary button' %>
  <%= link_to "Back to Inbox", conversations_path, class: "button" %>
<% end %>