<h1>Edit Profile</h1>

<%= form_for dreamer, remote: true do |f| %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.text_field :avatar_url, placeholder: "avatar url" %>
  <%= f.password_field :password, placeholder: "password", data: {field: "password"} %>
  <%= f.text_area :about, placeholder: "tell us about yourself" %>
  <div data-handler="errors"></div>
  <%= f.submit "Submit", class: "button" %>
<% end %>
