<h1>Edit Profile</h1>

<p>To update your avatar, make sure your email is connected to <%= link_to "gravatar", "https://en.gravatar.com/", target: "_blank" %> and update your avatar through gravatar.</p>

<%= form_for @dreamer, url: dreamer_path, method: "PUT", data: {form: "dreamer"} do |f| %>
  <%= f.text_field :email, placeholder: "*email" %>
  <%= f.text_field :country, placeholder: "country" %>
  <%= f.text_field :state, placeholder: "state" %>
  <%= f.text_field :gender, placeholder: "gender" %>
  <%= f.text_field :phone_num, placeholder: "phone number" %>
  <%= f.password_field :password, placeholder: "*password", data: {field: "password"} %>
  <%= f.text_area :about, placeholder: "tell us about yourself" %>

  <%= f.submit "Submit", class: "button" %>
<% end %>

<div data-handler="errors"></div>
