<%= image_tag("#{dreamer.avatar_url}", class: "left avatar") %>

<div class="profile-container">
  <ul>
    <li>Dreaming since: <%= dreamer.created_at.strftime("%B %d %Y")%></li>
    <li>Level: <%= dreamer.level %></li>
    <li>Total Dreams: <%= @num_of_dreams %></li>
    <li>
      <% if dreamer.gender %>
      Gender: <%= dreamer.gender %>
      <% end %>
    </li>
    <li>
      <% if dreamer.country %>
      Country: <%= dreamer.country %>
      <% end %>
    </li>
    <li>
      <% if dreamer.state %>
      State: <%= dreamer.state %>
      <% end %>
    </li>
    <li><%= link_to "Dream Recipe", steps_path %></li>
  </ul>
</div>

<% if dreamer.about %>
<hr>
<h6>About <%= dreamer.username %></h6>
<%= dreamer.about %>
<% end %>