<%= gravatar_tag @dreamer.email, default: "http://img1.wikia.nocookie.net/__cb20111127192946/frontierville/images/f/f0/Shaman_Dream_Catcher-icon.png", html: {class: "avatar"} %>

<div class="profile-container">
  <ul>
    <li>Dreaming since: <%= display_date(@dreamer.created_at) %></li>
    <li>Rank: <%= @dreamer.rank %></li>
    <li>Experience Points: <%= @dreamer.points %></li>
    <li>Dreams: <%= @dreams_count %></li>
    <li>Comments: <%= @comments_count %></li>
    <li>
      <% if @dreamer.gender %>
      Gender: <%= @dreamer.gender %>
      <% end %>
    </li>
    <li>
      <% if @dreamer.country %>
      Country: <%= @dreamer.country %>
      <% end %>
    </li>
    <li>
      <% if @dreamer.state %>
      State: <%= @dreamer.state %>
      <% end %>
    </li>
    <li><%= link_to "#{@dreamer.username}'s Dream Recipe", recipe_path(@dreamer) %></li>
  </ul>
</div>

<% if @dreamer.about %>
  <hr>
  <h6>About <%= @dreamer.username %></h6>
  <%= @dreamer.about %>
<% end %>
