<h1 class="subtitle">Sign Up</h1>

<%= form_for @dreamer do |f| %>
  <%= f.text_field :username, placeholder: "username" %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Submit", class: "button" %>
<% end %>

