<div data-form="profile">
  <%= render partial: "edit", locals: {dreamer: @dreamer} %>
</div>
<div data-div="profile">
  <%= render partial: "profile", locals: {dreamer: @dreamer} %>
</div>
<hr>

<h3 class="subtitle">My Lucid Dreams</h3>
<% if @dreamer.dreams.empty? %>
  <p>This dreamer has not registered any dreams yet.</p>
<% else %>
  <p> My Dreams With Clarity </p>
  <% @awareness_dreams.each do |dream| %>
    <%=link_to dream.title, dream_path(dream) %>
  <%end%>
  <p> Dreams Where I Had Control </p>
  <% @free_decision_dreams.each do |dream| %>
    <%=link_to dream.title, dream_path(dream) %>
  <%end%>
  <p> My Vivid Dreams </p>
  <% @vivid_dreams.each do |dream| %>
    <%=link_to dream.title, dream_path(dream) %>
  <%end%>
<% end %>

<hr>
<h3 class="subtitle">Recent Dreams</h3>
<% if @dreamer.dreams.empty? %>
  <p>This dreamer has not registered any dreams yet.</p>
<% else %>
  <% @dreamer.top_dreams.each do |dream| %>
    <%= dream.created_at.strftime("%B %d %Y") %>:
    <%= link_to dream.title, dream_path(dream) %><br>
  <% end %>
<% end %>