<div data-form="profile">
  <%= render "edit" %>
</div>

<p>
  <h1 class="center">
    <% if @dreamer == current_dreamer %>
    <a><img data-link="edit-profile" class="edit-icon" src="<%=image_path("edit-icon.png")%>"/></a>
    <% end %>
    <%= @dreamer.username %>'s Profile
  </h1>
</p>

<div data-div="profile">
  <%= render "stats" %>
</div>

<hr>
<h3 class="subtitle">Recent Dreams</h3>
<% if @dreamer.dreams.empty? %>
  <p>This dreamer has not registered any dreams yet.</p>
<% else %>
  <% @dreamer.top_dreams.each do |dream| %>
    <%= dream.created_at.strftime("%B %d %Y") %>:
    <%= link_to dream.title, dream_path(dream) %>
    Lucid Rating: <%= dream.calculate_lucidity %>
    <br>
  <% end %>
<% end %>