<div data-form="profile">
  <%= render partial: "edit", locals: {dreamer: @dreamer} %>
</div>
<div data-div="profile">
  <%= render partial: "profile", locals: {dreamer: @dreamer} %>
</div>
<hr>

<h3 class="subtitle">Set Up Dream Checks</h3>

<%= form_tag('/send_sms', method: 'POST') do %>
  <input type="text" placeholder="enter number" name="number">
  <input type="text" placeholder="enter message here" name="message">
  <button type="submit">Submit</button>
<% end %>

<h3 class="subtitle">My Lucid Dreams</h3>
  <%= render partial: "lucid_dreams", locals: {dreamer: @dreamer} %>

<hr>
<h3 class="subtitle">Recent Dreams</h3>
<% if @dreamer.dreams.empty? %>
  <p>This dreamer has not registered any dreams yet.</p>
<% else %>
  <% @dreamer.top_dreams.each do |dream| %>
    <%= dream.created_at.strftime("%B %d %Y") %>:
    <%= link_to dream.title, dream_path(dream) %>
    Lucid Rating: <%= calculate_lucidity(dream) %>
    <br>
  <% end %>
<% end %>