<h1 class="center"><%= @dreamer.username %>'s Profile</h1>

<% if current_dreamer == @dreamer %>
  <p><%= link_to "Edit Profile", edit_dreamer_path(current_dreamer) %></p>
<% end %>

<%= image_tag("#{@dreamer.avatar_url}", class: "avatar") %>

<div class="center profile-container">
  <ul>
    <li>Level: <%= @dreamer.level %></li>
    <li>
      <% if @dreamer.about %>
      About: <%= @dreamer.about %>
      <% end %>
    </li>
  </ul>
</div>

<hr>

<h3>Dreams</h3>
<% if @dreamer.dreams.empty? %>
  <p>This dreamer has not registered any dreams yet.</p>
<% else %>
  <% @dreamer.dreams.each do |dream| %>
    <%= dream.title %>
  <% end %>
<% end %>