<p><h1 class="center">Searching for "<%= @query %>"</h1></p>

<% if [@dreams, @dreamers, @steps].all?(&:empty?) %>
  <hr>
  <p>There are no results for your search.<br>
    Your query might be too specific.</p>
<% else %>
  <div class="search">
    <ul>
      <h3 class="left">Dreams</h3>
      <hr>
      <% if @dreams.empty? %>
        <p>There are no dreams that match your search.</p>
      <% end %>

      <% @dreams.each do |dream| %>
        <li>
          <%= link_to dream.title, dream_path(dream) %>
          <p><%= truncate(dream.story, :length => 200) %></p>
        </li>
      <% end %>
      <%= will_paginate @dreams %>

      <h3 class="left">Dreamers</h3>
      <hr>
      <% if @dreamers.empty? %>
        <p>There are no dreamers that match your search.</p>
      <% end %>

      <% @dreamers.each do |dreamer| %>
        <li><%= link_to dreamer.username, profile_path(dreamer) %></li>
      <% end %>
      <%= will_paginate @dreamers %>

      <h3 class="left">Recipes</h3>
      <hr>
      <% if @steps.empty? %>
        <p>There are no recipes that match your search.</p>
      <% end %>

      <% @steps.each do |step| %>
        <li><%= link_to step.description, recipe_path(step.creator) %></li>
      <% end %>
      <%= will_paginate @steps %>

      <h3 class="left">Hashtags</h3>
      <hr>
      <% if @hashtags.empty? %>
        <p>There are no hashtags that match your search.</p>
      <% end %>

      <% @hashtags.each do |hashtag| %>
        <li><%= link_to hashtag.name, hashtag_dreams_path(hashtag) %></li>
      <% end %>
      <%= will_paginate @hashtags %>
    </ul>
  </div>
<% end %>