<h1><%= @creator.username %>'s Dream Recipe</h1>

<div id="step-index" class="recipe">
  <ul id="step-show">
    <% @steps.each do |step| %>
      <li>
        <% unless step.creator != current_dreamer && current_dreamer.steps.include?(step) %>
          <a><img src=<%= image_path("add-icon.png") %> class="icon" data-href="<%= clone_path(step) %>" data-method="post" data-info="add-step"/></a>
        <% end %>
        <%= step.description %>
      </li>
    <% end %>
  </ul>
  <p class="center"><%= link_to "My Dream Recipe", recipe_path(current_dreamer), class: "button" %></p>
</div>