<header>
  <h1><%= link_to "DreamCatcher", root_path %></h1>

  <nav>
    <% if current_dreamer %>
      <%= link_to "Dreams", root_path %>
      <%= link_to "Recipe", recipe_path(current_dreamer) %>
      <%= link_to "Profile", profile_path(current_dreamer) %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Log In", login_path %>
    <% end %>
  </nav>
</header>