<div class="sticky">
<header class="top-bar" data-topbar role="navigation" class="row">
  <div class="small-2-text-center large-4 columns">
    <h1 class="title-area"><%= link_to "DreamCatcher", root_path %></h1>
  </div>
  <nav class="small-4-collapse medium-3 large-4 columns">
    <% if current_dreamer %>
      <%= link_to "Dreams", root_path %>
      <%= link_to "Recipe", recipe_path(current_dreamer) %>
      <%= link_to "Profile", profile_path(current_dreamer) %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Log In", login_path %>
    <% end %>
  </nav>
</header>
</div>