<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dream Catcher" %></title>
    <link href='https://fonts.googleapis.com/css?family=Special+Elite|Fredericka+the+Great|Inconsolata' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body class=<%= "intro-bg" unless current_dreamer %>>
    <%= render "shared/header" if current_dreamer %>

    <% if flash[:error] %>
      <%= render partial: "shared/errors", locals: { errors: flash[:error] } %>
    <% end %>
    <main class="center row">
      <%= yield %>
    </main>
    <%= render "shared/footer" unless current_dreamer.nil? %>
  </body>

</html>
